[Desktop Entry]
Type=Service
Name=TV Series
Name[bs]=TV serij
Name[cs]=TV seriály
Name[da]=Tv-serier
Name[de]=TV-Serien
Name[es]=Series de TV
Name[et]=Telesarjad
Name[fi]=TV-sarjat
Name[fr]=Séries TV
Name[gl]=Series de TV
Name[hu]=TV sorozat
Name[it]=Serie TV
Name[km]=ស៊េរី​ទូរទស្សន៍
Name[mr]=टीव्ही मालिका
Name[nl]=TV-series
Name[pl]=Seriale telewizyjne
Name[pt]=Séries de TV
Name[pt_BR]=Séries de TV
Name[sk]=TV seriály
Name[sv]=Tv-serier
Name[tr]=TV Dizileri
Name[uk]=Телевізійні серіали
Name[x-test]=xxTV Seriesxx
ServiceTypes=ThumbCreator
X-KDE-Protocol=tvshow
X-KDE-Library=nepomuktvshowthumbnail
MimeType=inode/directory;
CacheThumbnail=true
