[Desktop Entry]
Type=Service
Name=TV Series
Name[da]=Tv-serier
Name[de]=TV-Serien
Name[es]=Series de TV
Name[et]=Telesarjad
Name[nl]=TV-series
Name[pl]=Seriale telewizyjne
Name[pt]=Séries de TV
Name[pt_BR]=Séries de TV
Name[sv]=Tv-serier
Name[uk]=Телевізійні серіали
Name[x-test]=xxTV Seriesxx
ServiceTypes=ThumbCreator
X-KDE-Protocol=tvshow
X-KDE-Library=nepomuktvshowthumbnail
MimeType=inode/directory;
CacheThumbnail=true
