[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomuktvnamerservice
X-KDE-Nepomuk-autostart=true
Name=Nepomuk TV Namer Service
Name[bs]=Servis Nepomuka za TV imena
Name[da]=Nepomuk tv-navngivningstjeneste
Name[de]=TV-Umbenennungsdienst für Nepomuk
Name[es]=Servicio de nombres de TV para Nepomuk
Name[et]=Nepomuki telesarjade nimetaja teenus
Name[fr]=Service de noms liés à la télévision pour Nepomuk
Name[hu]=Nepomuk TV elnevező szolgáltatás
Name[km]=សេវាកម្ម​​នៃ​កម្មវិធីកំណត់​ឈ្មោះ​ទូរទស្សន៍ TV
Name[nl]=Nepomuk tv-naamgevingsservice
Name[pl]=Usługa nazywania TV Nepomuk
Name[pt]=Serviço de Nomes de TV do Nepomuk
Name[pt_BR]=Serviço de informações de TV do Nepomuk
Name[sk]=Služba TV pomenovača Nepomuk
Name[sv]=Nepomuk tv-namngivningstjänst
Name[uk]=Служба іменування телепередач Nepomuk
Name[x-test]=xxNepomuk TV Namer Servicexx
Comment=Nepomuk Service which automatically fetches information about TV show episodes
Comment[da]=Nepomuk-tjeneste som automatisk henter information om afsnit af tv-serier
Comment[de]=Ein Nepomukdienst, der automatisch Informationen über Episoden von TV-Serien abholt
Comment[es]=Servicio de Nepomu que obtiene información automáticamente sobre episodios de series de TV
Comment[et]=Nepomuki teenus, mis tõmbab automaatselt teavet telesarjade osade kohta
Comment[fr]=Service Nepomuk extrayant automatiquement des informations à propos des épisodes des émissions de TV
Comment[hu]=Egy Nepomuk szolgáltatás, amely automatikusan lekéri az információkat a TV-műsorok epizódjairól
Comment[km]=សេវាកម្ម Nepomuk ដែល​ទៅ​យក​ព័ត៌មាន​អំពី​ទូរទស្សន៍​ដោយ​ស្វ័យប្រវត្តិ​ episodes
Comment[nl]=Nepomuk-service die automatisch informatie over afleveringen van tv-shows ophaalt
Comment[pl]=Usługa Nepomuk, która samoczynnie pobiera informacje o odcinkach programów telewizyjnych
Comment[pt]=Um serviço do Nepomuk que obtém automaticamente informações sobre os episódios de um dado programa de TV
Comment[pt_BR]=Serviço do Nepomuk que obtém automaticamente as informações sobre os episódios de programas de TV
Comment[sk]=Služba Nepomuku, ktorá automaticky natiahne informácie o epizódach TV seriálov
Comment[sv]=Nepomuk-tjänst som automatiskt hämtar information om avsnitt av tv-program
Comment[uk]=Служба Nepomuk, яка автоматично отримує дані щодо серій телевізійних передач
Comment[x-test]=xxNepomuk Service which automatically fetches information about TV show episodesxx
