[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomuktvnamerservice
X-KDE-Nepomuk-autostart=true
Name=Nepomuk TV Namer Service
Name[da]=Nepomuk tv-navngivningstjeneste
Name[es]=Servicio de nombres de TV para Nepomuk
Name[nl]=Nepomuk tv-naamgevingsservice
Name[pl]=Usługa nazywania TV Nepomuk
Name[pt]=Serviço de Nomes de TV do Nepomuk
Name[pt_BR]=Serviço de informações de TV do Nepomuk
Name[sv]=Nepomuk tv-namngivningstjänst
Name[uk]=Служба іменування телепередач Nepomuk
Name[x-test]=xxNepomuk TV Namer Servicexx
Comment=Nepomuk Service which automatically fetches information about TV show episodes
Comment[da]=Nepomuk-tjeneste som automatisk henter information om afsnit af tv-serier
Comment[es]=Servicio de Nepomu que obtiene información automáticamente sobre episodios de series de TV
Comment[nl]=Nepomuk-service die automatisch informatie over afleveringen van tv-shows ophaalt
Comment[pl]=Usługa Nepomuk, która samoczynnie pobiera informacje o odcinkach programów telewizyjnych
Comment[pt]=Um serviço do Nepomuk que obtém automaticamente informações sobre os episódios de um dado programa de TV
Comment[pt_BR]=Serviço do Nepomuk que obtém automaticamente as informações sobre os episódios de programas de TV
Comment[sv]=Nepomuk-tjänst som automatiskt hämtar information om avsnitt av tv-program
Comment[uk]=Служба Nepomuk, яка автоматично отримує дані щодо серій телевізійних передач
Comment[x-test]=xxNepomuk Service which automatically fetches information about TV show episodesxx
