[Desktop Entry]
Name=Nepomuk TV Show Engine
Name[bs]=Nepomuk pogon za TV emisije
Name[da]=Motor til Nepomuk tv-serie
Name[de]=Datenquelle für Nepomuk-TV-Shows
Name[es]=Motor de series de televisión de Nepomuk
Name[et]=Nepomuki telesarjade mootor
Name[fi]=Nepomukin TV-sarjamoottori
Name[fr]=Moteur d'émissions TV pour Nepomuk
Name[gl]=Motor de series de Nepomuk
Name[hu]=Nepomuk TV-műsor motor
Name[it]=Motore Nepomuk per show televisivi
Name[km]=ម៉ាស៊ីនបង្ហាញ​ទូរទស្សន៍​របស់ Nepomuk
Name[nl]=Engine van nepomuk tv-shows
Name[pl]=Silnik programów telewizyjnych Nepomuk
Name[pt]=Motor de Programas de TV do Nepomuk
Name[pt_BR]=Mecanismo de programas de TV do Nepomuk
Name[sk]=Nástroj Nepomuk TV Show
Name[sv]=Nepomuk tv-programgränssnitt
Name[tr]=Nepomuk TV Programı Motoru
Name[uk]=Рушій телепередач Nepomuk
Name[x-test]=xxNepomuk TV Show Enginexx
Comment=An engine which provides information about upcoming TV show episodes
Comment[bs]=Pogon koji pruža informacije o predstojećim epizodama ​​TV serije
Comment[da]=En motor som giver information om kommende afsnit af tv-serier
Comment[de]=Ein Datenmodul, das Informationen über die nächsten Episoden von TV-Serien bereitstellt
Comment[es]=Motor que proporciona información sobre los próximos episodios de series de Televisión
Comment[et]=Mootor, mis pakub teavet eesseisvate telesarjade osade kohta
Comment[fi]=Moottori, joka tarjoaa tietoa tulevista TV-sarjajaksoista
Comment[fr]=Un moteur fournissant des informations à propos des prochains épisodes des émissions TV
Comment[gl]=Un motor que fornece información sobre vindeiras estreas de episodios de series.
Comment[hu]=Egy motor, amely információkat szolgáltat a közelgő TV-műsorok epizódjairól
Comment[it]=Motore che fornisce informazioni sulle puntate degli show televisivi in arrivo
Comment[km]=ម៉ាស៊ីន​ដែល​ផ្ដល់​ព័ត៌មាន​អំពី​ការ​បង្ហាញ​ទូរទស្សន៍​ដែល​នឹង​ចេញ​ឆាប់ៗ episodes
Comment[nl]=Een engine die informatie levert over aankomende afleveringen van tv-shows
Comment[pl]=Silnik, który dostarcza informacji o nadchodzących odcinkach seriali telewizyjnych
Comment[pt]=Um motor que fornece informações acerca dos próximos episódios de programas de TV
Comment[pt_BR]=Um mecanismo que fornece informações sobre os próximos episódios de programas de TV
Comment[sk]=Nástroj, ktorý poskytuje informácie o nových epizódach TV seriálov
Comment[sv]=Ett gränssnitt som tillhandahåller information om kommande avsnitt av tv-program
Comment[tr]=Yaklaşan TV program bölümleri hakkında bilgi veren bir motor
Comment[uk]=Рушій даних, який надає дані щодо наступних випусків телепередач
Comment[x-test]=xxAn engine which provides information about upcoming TV show episodesxx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_nepomuktvshow
X-Plasma-EngineName=nepomuktvshow
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@kde.org
X-KDE-PluginInfo-Name=nepomuktvshow
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://nepomuk.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
