[Desktop Entry]
Name=Nepomuk TV Show Engine
Name[da]=Motor til Nepomuk tv-serie
Name[nl]=Engine van nepomuk tv-shows
Name[pl]=Silnik programów telewizyjnych Nepomuk
Name[pt]=Motor de Programas de TV do Nepomuk
Name[pt_BR]=Mecanismo de programas de TV do Nepomuk
Name[sv]=Nepomuk tv-programgränssnitt
Name[uk]=Рушій телепередач Nepomuk
Name[x-test]=xxNepomuk TV Show Enginexx
Comment=An engine which provides information about upcoming TV show episodes
Comment[da]=En motor som giver information om kommende afsnit af tv-serier
Comment[nl]=Een engine die informatie levert over aankomende afleveringen van tv-shows
Comment[pl]=Silnik, który dostarcza informacji o nadchodzących odcinkach seriali telewizyjnych
Comment[pt]=Um motor que fornece informações acerca dos próximos episódios de programas de TV
Comment[pt_BR]=Um mecanismo que fornece informações sobre os próximos episódios de programas de TV
Comment[sv]=Ett gränssnitt som tillhandahåller information om kommande avsnitt av tv-program
Comment[uk]=Рушій даних, який надає дані щодо наступних випусків телепередач
Comment[x-test]=xxAn engine which provides information about upcoming TV show episodesxx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_nepomuktvshow
X-Plasma-EngineName=nepomuktvshow
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Email=trueg@kde.org
X-KDE-PluginInfo-Name=nepomuktvshow
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://nepomuk.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
