[Desktop Entry]
Comment=Plasmoid showing upcoming TV show releases
Comment[da]=Plasmoid som viser kommende udsendelser af tv-serier
Comment[es]=Plasmoid que muestra los próximos estrenos de series de televisión
Comment[et]=Eesseisvaid telesarjade osi näitav plasmoid
Comment[fr]=Composant graphique affichant les prochaines émissions de télévision
Comment[km]=Plasmoid បង្ហាញ​ការ​ចេញ​ផ្សាយ​ទូរទស្សន៍​ដែល​នឹង​ចេញ​មក​ឆាប់ៗ
Comment[nl]=Plasmoid voor het tonen van aankomende tv-shows
Comment[pl]=Plazmoid pokazujący nadchodzące wydania programów telewizyjnych
Comment[pt]=Um plasmóide que mostra os próximos lançamentos de programas de TV
Comment[pt_BR]=Plasmoide que mostra os próximos lançamentos de programas de TV
Comment[sk]=Plazmoid zobrazujúci nové vydania TV seriálov
Comment[sv]=Plasmoid som visar kommande tv-program
Comment[uk]=Плазмоїд, який показує наступні випуски телепередач
Comment[x-test]=xxPlasmoid showing upcoming TV show releasesxx
Encoding=UTF-8
Keywords=
Name=Nepomuk TV Shows
Name[bs]=Nepomuk TV emisije
Name[da]=Nepomuk tv-serier
Name[de]=Nepomuk-TV-Shows
Name[es]=Series de televisión de Nepomuk
Name[et]=Nepomuki telesarjad
Name[fr]=Émissions TV sous Nepomuk
Name[km]=ការ​បង្ហាញ​ទូរទស្សន៍​របស់ Nepomuk
Name[mr]=नेपोमुक टीव्ही मालिका
Name[nl]=Nepomuk tv-shows
Name[pl]=Programy telewizyjne Nepomuk
Name[pt]=Programas de TV do Nepomuk
Name[pt_BR]=Programas de TV do Nepomuk
Name[sk]=Nepomuk TV seriály
Name[sv]=Nepomuk tv-program
Name[uk]=Телепередачі Nepomuk
Name[x-test]=xxNepomuk TV Showsxx
Type=Service
Icon=nepomuk
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Sebastian Trueg
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Email=trueg@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.nepomuk.tvshowreleases
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
