[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/*;inode/directory;
Actions=tvnamer;
X-KDE-Submenu=Desktop Search
X-KDE-Submenu[bs]=Pretraga površi
X-KDE-Submenu[cs]=Vyhledávací služby
X-KDE-Submenu[da]=Skrivebordssøgning
X-KDE-Submenu[de]=Desktop-Suche
X-KDE-Submenu[es]=Búsqueda de escritorio
X-KDE-Submenu[fi]=Työpöytähaku
X-KDE-Submenu[fr]=Recherche sur le bureau
X-KDE-Submenu[ga]=Cuardach Deisce
X-KDE-Submenu[hu]=Asztali keresés
X-KDE-Submenu[km]=ស្វែងរក​ផ្ទៃតុ
X-KDE-Submenu[mr]=डेस्कटॉप शोध
X-KDE-Submenu[nds]=Schriefdischsöök
X-KDE-Submenu[nl]=Bureaublad-zoekopdracht
X-KDE-Submenu[pl]=Wyszukiwanie na pulpicie
X-KDE-Submenu[pt]=Pesquisa no Ambiente de Trabalho
X-KDE-Submenu[pt_BR]=Pesquisa no desktop
X-KDE-Submenu[sk]=Hľadanie na ploche
X-KDE-Submenu[sv]=Skrivbordssökning
X-KDE-Submenu[tr]=Masaüstü Araması
X-KDE-Submenu[ug]=ئۈستەلئۈستىدە ئىزدەش
X-KDE-Submenu[uk]=Стільничний пошук
X-KDE-Submenu[x-test]=xxDesktop Searchxx
Icon=nepomuk

[Desktop Action tvnamer]
Name=Lookup TV Shows on thetvdb.com
Name[da]=Slå tv-serier op på thetvdb.com
Name[de]=TV-Shows auf thetvdb.com nachschlagen
Name[es]=Buscar series de TV en thevdb.com
Name[fr]=Recherche d'émissions TV sur « thetvdb.com »
Name[hu]=TV-műsorok keresése a thetvdb.com oldalon
Name[km]=រក​មើល​ការ​បង្ហាញ​ទូរទស្សន៍​នៅ​ thetvdb.com
Name[nl]=Tv-shows op thetvdb.com opzoeken
Name[pl]=Znajdź programy telewizyjny na thetvdb.com
Name[pt]=Procurar programas de TV no thetvdb.com
Name[pt_BR]=Busca por Shows de TV em thetvdb.com
Name[sk]=Hľadať TV seriály na thetvdb.com
Name[sv]=Slå upp tv-program på thetvdb.com
Name[tr]=Thetvdb.com üzerinde TV Programları ara
Name[uk]=Пошук телепрограм на thetvdb.com
Name[x-test]=xxLookup TV Shows on thetvdb.comxx
Icon=nepomuk
Exec=nepomuktvnamer %f
