[Desktop Entry]
Name=Nepomuk TVNamer
Comment=Tool to lookup and store TV Show metadata in Nepomuk
Icon=nepomuk
Exec=nepomuktvnamer
Type=Application
Categories=Qt;KDE;Multimedia;
