[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukCleaningJob
X-KDE-Library=nepomuktvseriesduplicatescleaner
Name=Nepomuk TVSeries Duplicates Merger
Name[da]=Nepomuk TVSeries fletning af duplikater
Name[de]=Nepomuk-Duplikat-Zusammenführung von TV-Staffeln
Name[nl]=Samenvoeger van duplicaten voor Nepomuk tv-series
Name[pt]=Junção de Duplicados de Séries da TV do Nepomuk
Name[pt_BR]=Mesclagem de duplicação de Séries de TV do Nepomuk
Name[sv]=Nepomuk sammanfogning av duplicerade tv-serier
Name[uk]=Засіб об’єднання дублікатів записів серій Nepomuk
Name[x-test]=xxNepomuk TVSeries Duplicates Mergerxx
Comment=Nepomuk Cleaning Job which merges duplicate TV Series resources
Comment[da]=Nepomuk-oprydningsjob som fletter tv-serie-ressourcer som er duplikater
Comment[de]=Nepomuk-Bereinigung, um doppelte Ressourcen für TV-Staffeln zusammenzuführen
Comment[nl]=Taak voor opschonen van Nepomuk die duplicaten van hulpbronnen van tv-series samenvoegt
Comment[pt]=Uma tarefa de limpeza do Nepomuk que junta os recursos de Séries da TV duplicadas
Comment[pt_BR]=Tarefa de limpeza do Nepomuk que junta os recursos duplicados de Séries de TV
Comment[sv]=Nepomuk städningsjobb som sammanfogar duplicerade tv-serieresurser
Comment[uk]=Завдання очищення бази даних Nepomuk, яке виконує об’єднання дубльованих ресурсів серій телесеріалів
Comment[x-test]=xxNepomuk Cleaning Job which merges duplicate TV Series resourcesxx
