[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukCleaningJob
X-KDE-Library=nepomuktvseasonduplicatescleaner
Name=Nepomuk TVSeason Duplicates Merger
Name[bs]=Nepomuk TVSeason spajanje duplikata
Name[da]=Nepomuk TVSeason fletning af duplikater
Name[de]=Nepomuk-Duplikat-Zusammenführung von TV-Serien
Name[es]=Fusión de duplicados de temporadas de TV de Nepomuk
Name[gl]=Fusionador de duplicados de tempadas de series para Nepomuk
Name[it]=Unione duplicati stagioni televisive Nepomuk
Name[nl]=Samenvoeger van duplicaten voor Nepomuk tv-seizoen
Name[pl]=Scalanie powieleń TVSeason dla Nepomuka
Name[pt]=Junção de Duplicados de Temporadas da TV do Nepomuk
Name[pt_BR]=Mesclagem de duplicação de Temporadas de TV do Nepomuk
Name[sk]=Zlučovač duplikátov Nepomuk TVSeason
Name[sv]=Nepomuk sammanfogning av duplicerade tv-säsonger
Name[uk]=Засіб об’єднання дублікатів записів сезонів телесеріалів Nepomuk
Name[x-test]=xxNepomuk TVSeason Duplicates Mergerxx
Comment=Nepomuk Cleaning Job which merges duplicate TV Season resources
Comment[bs]=Nepomuk čisteći posao koji spaja duple epizode TV sezona
Comment[da]=Nepomuk-oprydningsjob som fletter tv-sæson-ressourcer som er duplikater
Comment[de]=Nepomuk-Bereinigung, um doppelte Ressourcen für TV-Serien zusammenzuführen
Comment[es]=Trabajo de limpieza de Nepomuk que fusiona recursos duplicados de sesiones de TV
Comment[gl]=Tarefa de limpeza para Nepomuk que fusiona os recursos duplicados de tempadas de series.
Comment[it]=Attività di ripulitura Nepomuk che unisce le risorse duplicate delle stagioni televisive
Comment[nl]=Taak voor opschonen van Nepomuk die duplicaten van hulpbronnen van tv-seizoen samenvoegt
Comment[pl]=Oczyszczanie poprzez scalanie powielonych zasobów seriali TV w Nepomuku
Comment[pt]=Uma tarefa de limpeza do Nepomuk que junta os recursos de Temporadas da TV duplicadas
Comment[pt_BR]=Tarefa de limpeza do Nepomuk que junta os recursos duplicados de Temporadas de TV
Comment[sk]=Čistiaca úloha Nepomuk, ktorá zlúči duplicitné zdroje TV sérií
Comment[sv]=Nepomuk städningsjobb som sammanfogar duplicerade tv-säsongresurser
Comment[uk]=Завдання очищення бази даних Nepomuk, яке виконує об’єднання дубльованих ресурсів сезонів телесеріалів
Comment[x-test]=xxNepomuk Cleaning Job which merges duplicate TV Season resourcesxx
