[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukCleaningJob
X-KDE-Library=nepomuktvseasonduplicatescleaner
Name=Nepomuk TVSeason Duplicates Merger
Comment=Nepomuk Cleaning Job which merges duplicate TV Season resources
